{{extend 'layout.html'}}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-2" id="side_accordion_container">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-10">
    	<div id="kpi" class="box" style="height: 160px;">
        </div>
        <div id="details" class="box" style="height: 520px;">
        	<div class="box-header">
        		<h3 class="box-title" id="datatable_packages_caption"></h3>
        		<div class="box-tools pull-right">
				  <span>RSS Feed <a id="rss_feed" href="#"><i class="fa fa-rss fa-fw fa-border bg-orange"></i></a></span>
				</div>
        	</div>
        	<div class="box-body">
        		<table id="datatable_packages" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
				</table>
        	</div>
        	<div class="overlay">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
        </div>
        <div id="package_kpi" class="box hidden" style="height: 160px;">
        </div>
        <div id="messages" class="box" style="height: 520px;">
    		<div class="box-header"><h2 class="box-title">Messages</h2>
    			<div class="box-tools pull-right">
				  <a class="btn btn-navi btn-box-tool" data-widget="#children" data-toggle="tooltip" title="Go to Children"><i class="fa fa-archive"></i> Children</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#executables" data-toggle="tooltip" title="Go to Executables"><i class="fa fa-map-o"></i> Executables</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#config" data-toggle="tooltip" title="Go to Config"><i class="fa fa-cogs"></i> Config </a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#package_kpi" data-toggle="tooltip" title="Go to Top"><i class="fa fa-level-up"></i> Go to Top </a>
                </div>
    		</div>
    		<div class="box-body">
        		<table id="datatable_messages" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
				</table>
			</div>
			<div class="overlay">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
        </div>
        <div id="children" class="box" style="height: 520px;">
    		<div class="box-header"><h2 class="box-title">Children</h2>
    			<div class="box-tools pull-right">
				  <a class="btn btn-navi btn-box-tool" data-widget="#messages" data-toggle="tooltip" title="Go to Messages"><i class="fa fa-comments"></i> Messages</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#executables" data-toggle="tooltip" title="Go to Executables"><i class="fa fa-map-o"></i> Executables</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#config" data-toggle="tooltip" title="Go to Config"><i class="fa fa-cogs"></i> Config </a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#package_kpi" data-toggle="tooltip" title="Go to Top"><i class="fa fa-level-up"></i> Go to Top </a>
                </div>
    		</div>
    		<div class="box-body">
        		<table id="datatable_children" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
				</table>
			</div>
			<div class="overlay">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
        </div>
        <div id="executables" class="box hidden" style="height: 520px;">
    		<div class="box-header"><h2 class="box-title">Executables</h2>
    			<div class="box-tools pull-right">
				  <a class="btn btn-navi btn-box-tool" data-widget="#messages" data-toggle="tooltip" title="Go to Messages"><i class="fa fa-comments"></i> Messages</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#children" data-toggle="tooltip" title="Go to Children"><i class="fa fa-archive"></i> Children</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#config" data-toggle="tooltip" title="Go to Config"><i class="fa fa-cogs"></i> Config </a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#package_kpi" data-toggle="tooltip" title="Go to Top"><i class="fa fa-level-up"></i> Go to Top </a>
                </div>
    		</div>
    		<div class="box-body">
	    		<table id="datatable_executables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
	    		</table>
    		</div>
    		<div class="overlay">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
        </div>
        <div id="config" class="box hidden" style="height: 520px;">
    		<div class="box-header"><h2 class="box-title">Config</h2>
    			<div class="box-tools pull-right">
				  <a class="btn btn-navi btn-box-tool" data-widget="#messages" data-toggle="tooltip" title="Go to Messages"><i class="fa fa-comments"></i> Messages</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#children" data-toggle="tooltip" title="Go to Children"><i class="fa fa-archive"></i> Children</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#executables" data-toggle="tooltip" title="Go to Executables"><i class="fa fa-map-o"></i> Executables</a>
				  <a class="btn btn-navi btn-box-tool" data-widget="#package_kpi" data-toggle="tooltip" title="Go to Top"><i class="fa fa-level-up"></i> Go to Top </a>
                </div>
    		</div>
    		<div class="box-body">
	    		<table id="datatable_config" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
	    		</table>
    		</div>
    		<div class="overlay">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">


ENV = {{=XML(curr_env)}};

SSIS_ROUTER.init_env(ENV);
SSIS_ROUTER.parse_env(window.location.pathname);
SSIS_RENDER.init_env(ENV);

$(document).ajaxStart(function() {
	NProgress.start();
});
$(document).ajaxStop(function() {
	NProgress.done();
});

$(window).on("popstate", function(e) {
    if (e.originalEvent.state !== null) {
      window.location = location.href;
    }
});

function change_url(to_url) {
	if (Modernizr.history) {
		history.pushState('', '', to_url);
	}
}

function scroll_to_el(el) {
    $('html,body').animate({scrollTop: $(el).offset().top - 70},600);
}

function page_init() {
	dt_packages = $('#datatable_packages').DataTable(SSIS_TABLES.dt_packages);
	orig_data = null;
	Ractive.load({
		sidebar: 'sidebar.html',
		engine_kpi: 'engine_kpi.html',
		package_kpi: 'package_kpi.html'
	}).then(function(components) {
		rsiderbar = new components.sidebar({
			el: 'side_accordion_container',
			data: {
				'side_folders': {},
				'env': ENV,
				'loading': true,
				SSIS_ROUTER : SSIS_ROUTER
			}
		});
		rengine_kpi = new components.engine_kpi({
			el: 'kpi',
			data: {
				'kpi': {},
				'env': ENV,
				'loading': true
			},
		});
		rpackage_kpi = new components.package_kpi({
			el: 'package_kpi',
			data: {
				'pkpi': {},
				'env': ENV,
				'loading': true
			}
		});
		$.get(SSIS_ROUTER.restUrlFor('folders'), function(data) {
			rsiderbar.set('side_folders', data);
			rsiderbar.set('loading', false);
		});
		/* events */
		rsiderbar.on('navigate_to', function(e) {
			if(key.shift || key.ctrl) return true;
			SSIS_ROUTER.parse_env(e.node.pathname);
			populate_package_list();
			populate_engine_kpi();
			rengine_kpi.set('env', ENV);
			$('#accordion .list-group-item.active').removeClass('active');
			$(e.node).addClass('active');
			change_url(e.node.pathname);
			scroll_to_el('#kpi');
			return false;
		});
		rengine_kpi.on('navigate_to', function(e) {
			if(key.shift || key.ctrl) return true;
			SSIS_ROUTER.parse_env(e.node.pathname);
			rengine_kpi.set('env', ENV);
			populate_package_list();
			change_url(e.node.pathname);
			return false;
		});
		rpackage_kpi.on('filter_errors', function(e) {
			if(key.shift || key.ctrl) return true;
			e.original.preventDefault();
			SSIS_TABLES.fill_table(dt_details, SSIS_TABLES.slice_details(orig_data, 'errors'));
			change_url(e.node.pathname);
			return false;
		});
		rpackage_kpi.on('filter_all', function(e) {
			if(key.shift || key.ctrl) return true;
			e.original.preventDefault();
			SSIS_TABLES.fill_table(dt_details, SSIS_TABLES.slice_details(orig_data, 'all'));
			change_url(e.node.pathname);
			return false;
		});
		rpackage_kpi.on('filter_warnings', function(e) {
			if(key.shift || key.ctrl) return true;
			e.original.preventDefault();
			SSIS_TABLES.fill_table(dt_details, SSIS_TABLES.slice_details(orig_data, 'warnings'));
			change_url(e.node.pathname);
			return false;
		});
		rpackage_kpi.on('filter_memory_warnings', function(e) {
			if(key.shift || key.ctrl) return true;
			e.original.preventDefault();
			SSIS_TABLES.fill_table(dt_details, SSIS_TABLES.slice_details(orig_data, 'memory_warnings'));
			change_url(e.node.pathname);
			return false;
		});
		rpackage_kpi.on('filter_duplicate', function(e) {
			if(key.shift || key.ctrl) return true;
			e.original.preventDefault();
			SSIS_TABLES.fill_table(dt_details, SSIS_TABLES.slice_details(orig_data, 'duplicate'));
			change_url(e.node.pathname);
			return false;
		});

		populate_engine_kpi();
		populate_execution_details();
		populate_package_kpi();
		populate_package_list();
	}).catch(function() {});
}

function populate_execution_details() {
	if (ENV.execution != 'all') {
		dt_children = $('#datatable_children').DataTable(SSIS_TABLES.dt_children);
		dt_executables = $('#datatable_executables').DataTable(SSIS_TABLES.dt_executables);
		dt_details = $('#datatable_messages').DataTable(SSIS_TABLES.dt_details);
		dt_config = $('#datatable_config').DataTable(SSIS_TABLES.dt_config);
		$.get(SSIS_ROUTER.restUrlFor('packagedetails'), function(data) {
			orig_data = data;
			var newdata = SSIS_TABLES.slice_details(data, ENV.event_name);
			SSIS_TABLES.fill_table(dt_details, newdata);
		});
		SSIS_TABLES.fill_table_adv(dt_children, $.get(SSIS_ROUTER.restUrlFor('packagechildren')));
		SSIS_TABLES.fill_table_adv(dt_executables, $.get(SSIS_ROUTER.restUrlFor('packageexecutables')));
		SSIS_TABLES.fill_table_adv(dt_config, $.get(SSIS_ROUTER.restUrlFor('packageconfig')));
	}
}

function populate_package_kpi() {
	if (ENV.package_name != 'all') {
		rpackage_kpi.set('loading', true);
		$.get(SSIS_ROUTER.restUrlFor('packagekpi'), function(data) {
			rpackage_kpi.set('pkpi', data);
			rpackage_kpi.set('env', ENV);
			rpackage_kpi.set('loading', false);
			$('#package_kpi').css('height', '');
		});
	}
}

function populate_engine_kpi() {
	rengine_kpi.set('loading', true);
	$.get(SSIS_ROUTER.restUrlFor('enginekpi'), function(data) {
		rengine_kpi.set('kpi', data);
		rengine_kpi.set('env', ENV);
		rengine_kpi.set('loading', false);
		$('#kpi').css('height', '');
	});
}

function populate_package_list() {
	SSIS_TABLES.fill_table_adv(dt_packages, $.get(SSIS_ROUTER.restUrlFor('packagelist')));
}

$(function() {
	page_init();
	$(dt_packages.table().container()).on('click', 'a.execution_id', function(e) {
		if(key.shift || key.ctrl) return true;
		e.preventDefault();
		$(this).closest('tbody').find('tr.info').removeClass('info');
		$(this).closest('tr').addClass('info');
		SSIS_ROUTER.parse_env(this.pathname);
		populate_package_kpi();
		populate_execution_details();
		change_url(this.pathname);
		scroll_to_el('#package_kpi');
	});
	$(dt_packages.table().container()).on('click', 'a.route_overview', function(e) {
		if(key.shift || key.ctrl) return true;
		e.preventDefault();
		SSIS_ROUTER.parse_env(this.pathname);
		populate_package_kpi();
		populate_engine_kpi();
		populate_package_list();
		change_url(this.pathname);
	});
	$('#details').on('click', '#rss_feed', function(e) {
		e.preventDefault();
		if (!$(this).hasClass('active')) {
			$(this).addClass('active');
			$.get(SSIS_ROUTER.restUrlFor('rss_feed'), function(data) {
				window.location = data.feed_url;
			})
		}
	});
	$('#main-container').on('click', 'a.btn-navi', function(e) {
		e.preventDefault()
		scroll_to_el($(this).data('widget'))

	});

	/*keys to switch states*/
	//'a'll, 'r'unning, 'c'anceled, 'f'ailed, 'h'alted, 's'ucceeded
	key('shift+a, shift+r, shift+c, shift+f, shift+h, shift+s', function(event, handler){
		var mode = handler.shortcut.slice(-1);
		var mapping = {
			'a' : 'all',
			'r' : 'running',
			'c' : 'cancelled',
			'f' : 'failed',
			'h' : 'halted',
			's' : 'succeeded'
		}
		var selector = $('#kpi a[data-keymaster="' + mapping[mode] + '"');
		if (selector.length) {
			SSIS_ROUTER.parse_env(selector[0].pathname);
			rengine_kpi.set('env', ENV);
			populate_package_list();
			change_url(selector[0].pathname);
		}
	});

})
</script>